{% extends 'base.html' %}

{% block title %}Universities List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Universities</h1>
    <hr>

    {% if universities %}
        <ul class="list-group">
            {% for university in universities %}
                <li class="list-group-item">
                    {% if university.website %}
                        <a href="{{ university.website }}" target="_blank" rel="noopener noreferrer">{{ university.name }}</a>
                    {% else %}
                        {{ university.name }} <!-- Display name as text if no website URL -->
                    {% endif %}
                    <p class="mb-1"><small>{{ university.city.name }}, {{ university.country.name }}</small></p> <!-- Assuming city and country are available -->
                    <!-- Add more university details as needed -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No universities found.</p>
    {% endif %}

    <!-- Add pagination controls if needed -->

</div>
{% endblock %}
